*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: jomolhari, sans-serif;
}

body{
    background-color: #000000;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.post_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    gap: 0 50px;
}

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 270px;
    width: 100%;
    min-height: 920px;
    background-color: #F5C147;
    border-radius: 31px;
    text-align: center;
}

.dashboard h2{
    margin-top: 21px;
    font-size: 30px;
    line-height: 48px;
    color: #000000;
    font-weight: 400;
}

.account{
    max-width:236px; 
    width: 100%;
    min-height: 85px;
    background-color: #FFFFFF;
    border-radius: 22px;
    margin-top: 25px;
}

.dashboard button{
    width: 226px;
    height: 60px;
    margin-top: 40px;
    border: none;
    background-color: #000000;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.dashboard a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 36px;
}

.posts{
    max-width: 1012px;
    width: 100%;
    min-height: 920px;
}

.posts h2{
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 32px;
}

.form{
    max-width: 1012px;
    width: 100%;
    min-height: 920px;
    border-top: 1px solid #787878;
    display: flex;
    flex-direction: column;
}

.form p{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 25px;
}

.add{
    display: flex;
    gap: 0 60px;
    align-items: flex-end;
    width: 100%;
}

.form input{
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-indent: 20px;
}

.add button{
    max-width: 60px;
    width: 100%;
    height: 60px;
    background-color:#000000 ;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color:#FFFFFF ;
    cursor: pointer;
}

.add_img{
    max-width: 590px;
    width: 100%;
}

.description{
    max-width: 1012px;
    width: 100%;
    min-height: 172px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.desc_btn{
    max-width: 248px;
    width: 100%;
    height: 64px;
    background-color: #F5C147;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
    cursor: pointer;
    margin: 68px auto;
}